name: actionlint

on:
  pull_request:
    paths:
      - '.github/workflows/**'
  push:
    branches:
      - master

jobs:
  actionlint:
    name: actionlint with reviewdog
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1
      - name: actionlint
        uses: reviewdog/action-actionlint@v1.69.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
