name: "pr-check"

on:
  pull_request:

jobs:
  build:
    name: "build"
    runs-on: "windows-2025"

    steps:
      - name: Add NSIS
        run: |
          winget install -e --id NSIS.NSIS --accept-source-agreements --accept-package-agreements

      - name: set up Cygwin
        uses: egor-tensin/setup-cygwin@v4
        with:
          platform: x64
          packages: make zip

      - name: checkout
        uses: actions/checkout@v6.0.2

      - name: build
        run: |
          make.exe genzip

      - name: create installer
        uses: joncloud/makensis-action@v5.0
        with:
          arguments: "/V3"
